@charset "UTF-8";
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #2f2f2f;
}
@media (max-width: 560px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 12px;
  }
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.size-micro {
  font-size: 9px;
  font-weight: 200;
}
@media (max-width: 560px) {
  .size-micro {
    font-size: 9px;
    font-weight: 200;
  }
}

.size-small-L {
  font-size: 10px;
}
@media (max-width: 560px) {
  .size-small-L {
    font-size: 10px;
  }
}

.size-small-M {
  font-size: 12px;
}
@media (max-width: 560px) {
  .size-small-M {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .size-small-M {
    font-size: 10px;
  }
}

.size-small-H {
  font-size: 20px;
}
@media (max-width: 1000px) {
  .size-small-H {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .size-small-H {
    font-size: 10px;
  }
}

.size-medium-L {
  font-size: 18px;
}
@media (max-width: 560px) {
  .size-medium-L {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .size-medium-L {
    font-size: 14px;
  }
}

.size-medium-M {
  font-size: 20px;
}
@media (max-width: 560px) {
  .size-medium-M {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .size-medium-M {
    font-size: 16px;
  }
}

.size-medium-H {
  font-size: 24px;
}
@media (max-width: 1000px) {
  .size-medium-H {
    font-size: 18px;
  }
}
@media (max-width: 560px) {
  .size-medium-H {
    font-size: 14px;
  }
}

.size-large-L {
  font-size: 28px;
}
@media (max-width: 560px) {
  .size-large-L {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .size-large-L {
    font-size: 24px;
  }
}

.size-large-M {
  font-size: 30px;
}
@media (max-width: 560px) {
  .size-large-M {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .size-large-M {
    font-size: 26px;
  }
}

.size-large-H {
  font-size: 54px;
}
@media (max-width: 560px) {
  .size-large-H {
    font-size: 54px;
  }
}
@media (max-width: 400px) {
  .size-large-H {
    font-size: 44px;
  }
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-700 {
  font-weight: 700;
}

.color-pink {
  color: #FFA398;
}

.color-red {
  color: #FE7063;
}

.lp-body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.lp-body-img {
  position: relative;
  height: 100vh;
  aspect-ratio: 1785/2526;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 1000px) {
  .lp-body-img {
    height: auto;
    width: 100%;
  }
}
.lp-body-img img {
  height: 100%;
}
@media (max-width: 1000px) {
  .lp-body-img img {
    height: auto;
    width: 100%;
  }
}

.lp-body-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 40px;
  background: #EEEEEE;
  border: 3px solid #FE7063;
  line-height: 2.5em;
  width: 85%;
  max-width: 830px;
}
@media (max-width: 700px) {
  .lp-body-box {
    padding-left: 20px;
    padding-right: 20px;
  }
}

footer {
  background: #665F58;
  color: #F7DBCF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 560px) {
  footer {
    padding: 20px;
  }
}
@media (max-width: 400px) {
  footer {
    padding: 15px;
  }
}

.footer-organizer {
  margin-top: 20px;
}

.footer-right {
  margin-top: auto;
}
@media (max-width: 400px) {
  .footer-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }
}

.footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-sns a {
  margin-top: 5px;
  display: block;
  height: 30px;
  width: 30px;
}
@media (max-width: 400px) {
  .footer-sns a {
    height: 20px;
    width: 20px;
  }
}

.fa-brands::before {
  line-height: 30px;
}
@media (max-width: 400px) {
  .fa-brands::before {
    line-height: 20px;
  }
}

.fa-instagram {
  color: #FFA398;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
@media (max-width: 1000px) {
  .fa-instagram {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .fa-instagram {
    font-size: 20px;
  }
}

.fa-line {
  font-size: 26px;
}
@media (max-width: 400px) {
  .fa-line {
    font-size: 16px;
  }
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.bg-image-pc {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-image-pc img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.bg-image-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.background-item-first {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(238, 238, 238, 0.3), rgba(238, 238, 238, 0));
  -webkit-filter: blur(12px);
          filter: blur(12px);
  position: absolute;
  top: -200px;
  right: 260px;
}

.background-item-second {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(254, 112, 99, 0.3), rgba(254, 112, 99, 0));
  -webkit-filter: blur(12px);
          filter: blur(12px);
  position: absolute;
  bottom: -20px;
  right: -100px;
}

.background-item-third {
  width: 600px;
  height: 600px;
  position: absolute;
  bottom: -200px;
  left: 100px;
}