@charset "UTF-8";

//色
$color-bg:#F7DBCF;
$color-text-pink: #FFA398;
$color-white: #EEEEEE;
$color-title: #FE7063;
$color-main-pink: #E39895;



//フォント
$font-base: "Noto Sans JP", sans-serif;

//レイアウト
$breakpoints: (
    "sp-L":"(max-width: 400px)", //280px~400px
    "sp-M":"(max-width: 560px)", //SP=430px 400px~560px
    "sp-H":"(max-width: 700px)", //560px~700px
    "tab-L":"(max-width: 850px)", //700px~850px
    "tab-M":"(max-width: 1000px)", //850px~1000px
    "tab-H":"(max-width: 1240px)", //1000px~1240px
    "pc-up":"(min-width: 1240px)",
    "pc-L":"(max-width: 1440px)", //1240px~1440px
    "pc-M-up":"(min-width: 1440px)",
    "pc-M":"(max-width: 1650px)", //1440px~1650px
    "pc-H":"(max-width: 1900px)", //1650px~1900px
    "monitor":"(min-width: 1900px)", //1900px~
);

//メディアクエリ
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)}{
        @content;
    }
}

/* リセットCSS
===================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

li, dd {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
  }

q {
    &:before, &:after {
      content: "";
      content: none;
    }
}

blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

img {
    border: none;
    vertical-align: bottom;
}


// 基本設定
*,*::before,*::after {
    box-sizing: border-box;
}

html,body {
    padding: 0;
    margin: 0;
}

body {
    font-family:$font-base;
    font-weight: 300;
    color: #2f2f2f;

    @include mq(sp-M) {
        font-size: 14px;
    }

    @include mq(sp-L) {
        font-size: 12px;
    }
}

ul,ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

//共通
// フォントサイズ
.size-micro {
    font-size: 9px;
    font-weight: 200;

    @include mq(sp-M) {
        font-size: 9px;
        font-weight: 200;
    }
}

.size-small-L {
    font-size: 10px;

    @include mq(sp-M) {
        font-size: 10px;
    }
}
.size-small-M {
    font-size: 12px;

    @include mq(sp-M) {
        font-size: 12px;
    }

    @include mq(sp-L) {
        font-size: 10px;
    }
}
.size-small-H {
    font-size: 20px;

    @include mq(tab-M) {
        font-size: 14px;
    }

    @include mq(sp-L) {
        font-size: 10px;
    }
}

.size-medium-L {
    font-size: 18px;

    @include mq(sp-M) {
        font-size: 18px;
    }

    @include mq(sp-L) {
        font-size: 14px;
    }
}
.size-medium-M {
    font-size: 20px;

    @include mq(sp-M) {
        font-size: 20px;
    }

    @include mq(sp-L) {
        font-size: 16px;
    }
}
.size-medium-H {
    font-size: 24px;

    @include mq(tab-M) {
        font-size: 18px;
    }

    @include mq(sp-M) {
        font-size: 14px;
    }
}

.size-large-L {
    font-size: 28px;

    @include mq(sp-M) {
        font-size: 28px;
    }

    @include mq(sp-L) {
        font-size: 24px;
    }
}
.size-large-M {
    font-size: 30px;

    @include mq(sp-M) {
        font-size: 30px;
    }

    @include mq(sp-L) {
        font-size: 26px;
    }
}
.size-large-H {
    font-size: 54px;
    
    @include mq(sp-M) {
        font-size: 54px;
    }

    @include mq(sp-L) {
        font-size: 44px;
    }
}

// フォントウェイト
.weight-300 {
    font-weight: 300;
}
.weight-400 {
    font-weight: 400;
}
.weight-500 {
    font-weight: 500;
}
.weight-700 {
    font-weight: 700;
}

//色
.color-pink {
    color: $color-text-pink;
}

.color-red {
    color: $color-title;
}

//lp-body
.lp-body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.lp-body-img {
    position: relative;
    height: 100vh;
    aspect-ratio: 1785/2526;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mq(tab-M) {
        height: auto;
        width: 100%;
    }

    img {
        height: 100%;

        @include mq(tab-M) {
            height: auto;
            width: 100%;
        }
    }
}

.lp-body-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    background: $color-white;
    border: 3px solid $color-title;
    line-height: 2.5em;
    width: 85%;
    max-width: 830px;

    @include mq(sp-H) {
        padding-left: 20px;
        padding-right: 20px;
    }
}



//フッター
footer {
    background: #665F58;
    color: $color-bg;
    display: flex;
    justify-content: space-between;

    @include mq(sp-M) {
        padding: 20px;
    }
    
    @include mq(sp-L) {
        padding: 15px;
    }
}

.footer-organizer {
    margin-top: 20px;
}

.footer-right {
    margin-top: auto;

    @include mq(sp-L) {
        flex: 0 0 60px;
    }
}

.footer-sns {
    display: flex;
    justify-content: space-around;

    a {
        margin-top: 5px;
        display: block;
        height: 30px;
        width: 30px;

        @include mq(sp-L) {
            height: 20px;
            width: 20px;
        }
    }
}

.fa-brands {
    &::before {
        line-height: 30px;

        @include mq(sp-L) {
            line-height: 20px;
        }
    }
}

.fa-instagram {
    color: $color-text-pink;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;

    @include mq(tab-M) {
        font-size: 30px;
    }

    @include mq(sp-L) {
        font-size: 20px;
    }
}

.fa-line {
    font-size: 26px;

    @include mq(sp-L) {
        font-size: 16px;
    }
}

//background
.background {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.bg-image-pc {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.bg-image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, 0.6);
}

.background-item-first {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: radial-gradient(circle at center,rgba($color-white, 0.3), rgba($color-white, 0));
    filter: blur(12px);
    position: absolute;
    top: -200px;
    right: 260px;
}

.background-item-second {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(circle at center,rgba($color-title, 0.3), rgba($color-title, 0));
    filter: blur(12px);
    position: absolute;
    bottom: -20px;
    right: -100px;
}

.background-item-third {
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: -200px;
    left: 100px;
}